@using UIBlazor.Components

@if (!isInitialized)
{
    <div class="loading-container settings">
        <div class="loading-ball"></div>
        <div class="loading-ball"></div>
        <div class="loading-ball"></div>
    </div>
}
else
{
    <HeadContent>
        <RadzenTheme />
        <link rel="stylesheet" href="css/app.css" />
        <link rel="stylesheet" href="css/markdown.css" />
    </HeadContent>

    <RadzenComponents />

    <RadzenLayout>
        <RadzenBody>
            <AiChat class="rz-h-100" />
        </RadzenBody>
    </RadzenLayout>
}

@code
{
    [Inject] private IMcpSettingsProvider McpSettingsProvider { get; set; } = null!;
    [Inject] private IProfileManager ProfileService { get; set; } = null!;
    [Inject] private ICommonSettingsProvider CommonSettingsProvider { get; set; } = null!;
    [Inject] private IChatService ChatService { get; set; } = null!;

    private bool isInitialized;

    protected override async Task OnInitializedAsync()
    {
        // инициализация всех настроек
        await ProfileService.InitializeAsync();
        await CommonSettingsProvider.InitializeAsync();
        await McpSettingsProvider.InitializeAsync();
        
        ChatService.Initialize();

        await base.OnInitializedAsync();
        isInitialized = true;
        StateHasChanged();
    }
}
