@using System.Text
@using DiffPlex
@using DiffPlex.Chunkers
@using DiffPlex.DiffBuilder
@using DiffPlex.DiffBuilder.Model

<div class="diff-view">
    @if (!string.IsNullOrEmpty(FilePath))
    {
        <div @key="@FilePath" class="tool-file-header">@FilePath</div>
    }
    <div class="diff-block">
        @for (var i = 0; i < diffs.Count; i++)
        {
            @if (diffs[i] == null)
            {
                continue;
            }
            @if (i > 0)
            {
                <hr />
            }
            <DiffViewSection Model="diffs[i]" />
        }
    </div>
</div>

@code {
    [Parameter] public int LinesCount { get; set; } = 0;
    [Parameter] public Dictionary<string, object> ToolParams { get; set; } = [];
    [Parameter] public bool IsClosed { get; set; } = true;

    private string? FilePath { get; set; }
    private List<SideBySideDiffModel?> diffs = [null];
    private int processedLines = 0;
    private bool showDiffSeparator = false;

    private bool _changed = false;
    private DateTime _lastRenderTime = DateTime.MinValue;
    private readonly int _interval = 500; // рендерить не чаще
    private double elapsed => (DateTime.Now - _lastRenderTime).TotalMilliseconds;

    protected override bool ShouldRender()
    {
        if (!_changed) return false;

        if (elapsed >= _interval)
        {
            _lastRenderTime = DateTime.Now;
            _changed = false;
            return true;
        }

        // Запускаем отложенную проверку для "последнего вызова"
        _ = DelayRender();
        return false;
    }

    private async Task DelayRender()
    {
        await Task.Delay(_interval);
        StateHasChanged(); // Перезапустит логику ShouldRender
    }

    protected override void OnParametersSet()
    {
        ParseDiff();
    }

    private void ParseDiff()
    {
        if (LinesCount < 2)
        {
            return;
        }

        _changed = LinesCount > processedLines;

        if (!_changed)
        {
            return;
        }

        FilePath ??= ToolParams["param1"].ToString();

        if (ToolParams.ContainsKey("param2"))
        {
            // обычный параметр должен быть только один. Если это не так, то нечего рендерить.
            FilePath = "Error: Corrupted tool input.";
            return;
        }

        // не перерисовывать DiffModel если он уже не дополнялся строками
        // дополняться новыми строками может только последний DiffModel
        // то есть при каждом парсинге нужно пропускать модели, 
        // которые уже были сделаны кроме последней (она может дополняться строками)
        for (var i = diffs.Count - 1; i < ToolParams.Count - 1; i++)
        {
            var diffRepl = ToolParams[$"diff{i + 1}"] as DiffReplacement;
            if (diffRepl is not null)
            {
                var diffBuiler = SideBySideDiffBuilder.Diff(
                    Differ.Instance,
                    string.Join('\n', diffRepl.Search),
                    string.Join('\n', diffRepl.Replace),
                    false,
                    false,
                    lineChunker: LineChunker.Instance,
                    wordChunker: CharacterChunker.Instance
                );

                if (i >= diffs.Count)
                {
                    diffs.Add(diffBuiler);
                }
                else
                {
                    diffs[i] = diffBuiler;
                }
            }
        }

        processedLines = LinesCount;
        showDiffSeparator = diffs.Count > 1;
    }
}
