node_modules/**
.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
out/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
package-lock.json
.git/**
*.vsix
esbuild.js
